*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("images/bg2.jpeg");
    /* background: linear-gradient(#02134d 0%, #001f5a 100%); */
    background-position:centre;
    background-size:cover;
    height:auto;
}
.navbar{
    width: 1200px;
    height:75px;
}
.icon{
    width:200px;
    float: left; 
    height: 70px;
    margin-left: 20px;
}
.logo{
    color: #ff7200;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 24px;
    padding-left: 20px;
    float: left;
}
.menu{
    width: 400px;
    float:left;
    height: 70px;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}
.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
#announcements{
    color: #ff7200;
}
.menu ul li a:hover{
    color: #ff7200;
}
.announcements{
    padding-top: 100px;
    padding-left: 375px;
    padding-bottom: 100px;
}
.upevents img{
    border-radius: 50px;
    width:700px;
    height:715px;
}
footer {
    background-color: #b77f35;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 97.15%;
}